@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 75px;
  --first-color: #070F2B;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  --maincolor: #242760;
}

*,
::before,
::after {
  box-sizing: border-box
}


body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s
}

.height-100 {
  background-color: var(--first-color);
  height: 100%;
  margin-top: 4rem;
  margin-left: -140px;
  padding: 0 1rem;


}

.Link {
  text-decoration: none
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  transition: .5s
}


.header_toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  left: 5px;
  overflow: hidden
}

.adminName {
  color: white;
  right: 0;

}

.header_img img {
  width: 40px
}

.logo_img {
  width: 90px;
  margin-top: -20px;
}

.l-navbar {
  position: fixed;
  top: 0px;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed)
}


.nav {
  height: 65vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 15px 15px 0;
  box-shadow: 5px 5px 10px rgba(206, 143, 63, 0.2);
  overflow: hidden
}

.app-header {
  font-size: 1.4rem;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.app-header:hover {
  color: var(--maincolor)
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
  text-decoration: none;
}

.nav_logo {
  margin-bottom: 2rem
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color)
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s
}

.nav_link:hover {
  color: #DEB24F
}

.nav_icon {
  font-size: 1.25rem;
  margin-right: 20px;
}

.nav_icon1 {
  font-size: 1rem;
  color: #fff;
  opacity: .6;
}

.nav_list {
  margin-top: 20px;
}

.show {
  left: 0
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem)
}


.active {
  color: var(--white-color)
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color)
}

/* admin login section */
.container {
  border-radius: 30px;
  // width: 600px;
  margin-top: 3rem;
  background-color: #f6f6f9;
}

// update adminLogin with phone

.admin-phone input {
  border: 2px solid #445971;
}

.admin-phone .input-group {
  width: 50%;
  margin: auto;
}

.admin-phone button {
  border-radius: 25px;
  background: #242760;
  color: #fff;
  font-size: 20px;
  width: 100% !important;

}

.admin-phone .btn:hover {
  border-color: #242760;
}

//end admin phone

/* admin login section */
.container {
  border-radius: 30px;
  width: 300px;
  margin-top: 3rem;
}

.admin-login {
  height: 100vh;
  padding: 150px 0px;
  margin-top: 10px;
}

#ootp,
#loginn {

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-login-form h2 {
  color: var(--maincolor);
}

.admin-login-form input {
  border: 2px solid #445971;
}

.admin-login-form .input-group {
  width: 50%;
  margin: auto;
}

.admin-login-form button {
  border-radius: 25px;
  background: #242760;
  color: #fff;
  font-size: 20px;

}

.admin-login-form .btn:hover {
  border-color: #242760;
}


/* admin login section p2 */
.admin-login-form .otp-number .otp {
  width: 50px;
  height: 50px;
  border: #242760 2px solid;
  padding: 5px;
  font-size: 25px;
  border-radius: 10px;
}


// otp stylingggggg

.admin-login-form input {
  border: 2px solid #445971;
  border-radius: 5px;
  padding: 10px !important;
  width: 2rem !important;
  font-size: 1.3rem !important;

}

.otp-input input {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 5px;
  font-size: 16px;
}

/* request section */
.req-item {
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #acaaaa;
}

.request-part .req-ico {
  font-size: 25px;
  padding-left: 15px;
}

.req-item .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
}

.btn-save {
  background-color: var(--maincolor);
  color: #fff;
}

.req-item .btn-req2 {
  background-color: #fff;
  color: rgb(205, 11, 11);
  border-color: rgba(66, 88, 112, 0.4);
}

/* reqest description */
.req-describtion {
  width: 473px;
  height: 700px;
  font-size: 20px;
  border-radius: 20px;
}

.req-describtion img {
  width: 80%;
}

.req-describtion .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
  margin: 10px;
  width: 100px;
}

.req-describtion .btn-req2 {
  background-color: #fff;
  border-color: rgba(189, 29, 29, 0.4);
  color: brown;
  width: 100px;
}

.main-sec .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
  font-size: 20px;
  font-style: italic;
}

.edit {
  width: 45px;
  height: 45px;
  background-color: var(--maincolor);
  text-align: center;
  color: #fff;
  border-radius: 10px;
  margin-right: 3px;
}


.warn {
  width: 45px;
  height: 45px;
  text-align: center;
  color: #DD2920;
  border-radius: 10px;
  border: #445971;
  margin-right: 10px;
}


.div-hov:hover {
  transform: scale(1.1);
  transition: transform .5s ease-out;
}

/* add engineer */
.add-engineer {
  width: 550px;
  height: 750px;
  border-radius: 25px;
}

.add-engineer .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
}

.add-engineer .btn-req2 {
  background-color: #fff;
  border-color: rgba(66, 88, 112, 0.4);
}

.add-form input {
  border-radius: 20px;
  border: 2px solid rgba(220, 220, 220, 0.86);
}

/* add store form*/
.add-store {
  width: 550px;
  height: 600px;
  border-radius: 20px;
}

.btn-save {
  background-color: var(--maincolor);
  color: #fff;

}

.add-store .btn-req2 {
  background-color: #fff;
  border-color: rgba(66, 88, 112, 0.4);
}

.add-form input {
  border-radius: 20px;
  border: 2px solid rgba(220, 220, 220, 0.86);
}

/* admin profile */
.admin-profile {
  border-bottom: gray 1px solid;
}

.img1 {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

/*request page*/
.io {
  cursor: pointer;
  // padding: .5em;
  color: #242760;
  transition: color .25s ease-out,
    transform .5s ease-out;
  border: none;
}

.io:hover {
  transform: scale(1.3333);
  transition: transform .5s ease-out;
  color: rgb(67, 215, 22);

}


.border-start-primary {
  border-left-color: #0061f2 !important;
}

.border-start-secondary {
  border-left-color: #6900c7 !important;
}

.border-start-success {
  border-left-color: #00ac69 !important;
}

.border-start-lg {
  border-left-width: 0.25rem !important;
}

.h-100 {
  height: 100% !important;
}


h2 {
  clear: both;
  font-size: 1.8em;
  margin-bottom: 10px;
  padding: 10px 0 10px 30px;
}

h3>span {
  border-bottom: 2px solid #C2C2C2;
  display: inline-block;
  padding: 0 5px 5px;
}

/* USER PROFILE */
#user-profile {
  h2 {
    padding-right: 15px;
  }

  .edit-profile {
    background-color: #070F2B;
  }


  .profile-status {
    font-size: 0.75em;
    padding-left: 12px;
    margin-top: -10px;
    padding-bottom: 10px;
    color: #8dc859;

    &.offline {
      color: #fe635f;
    }
  }

  .profile-img {
    border: 1px solid #e1e1e1;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 190px;
  }

  .profile-label {
    text-align: center;
    padding: 5px 0;

    .label {
      padding: 5px 15px;
      font-size: 1em;
    }
  }

  .flex-shrink-0 {
    align-items: center;
    padding: 7px 0;
    margin-left: 30px;
  }

  .profile-stars {
    color: #FFA800;
    padding: 7px 0;
    text-align: center;

    >i {
      margin-left: -2px;
      padding: 2px;
    }
  }

  .profile-since {
    text-align: center;
    margin-top: -5px;
  }

  .profile-details {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 15px 0;

    ul {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 40px;

      >li {
        margin: 3px 0;
        line-height: 1.5;

        >i {
          padding-top: 2px;
        }

        >span {
          color: #166FF6;


        }
      }
    }
  }

  .profile-header {
    position: relative;

    >h3 {
      margin-top: 10px;
    }

    .edit-profile {
      margin-top: -6px;
      position: absolute;
      right: 0;
      top: 0;
      color: white;
    }
  }

  .save-profile {
    margin-top: 6px;
    margin-left: 250px;
    position: absolute;
    background-color: var(--first-color);
    color: white;
    width: 100px;
  }

  .profile-tabs {
    margin-top: 30px;
  }

  .profile-user-info {
    padding-bottom: 20px;

    .profile-user-details {
      position: relative;
      padding: 4px 0;

      .profile-user-details-label {
        bottom: 0;
        font-weight: bold;
        margin-left: -4px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 110px;
        padding-top: 4px;
      }

      .profile-user-details-value {
        margin-left: 120px;
      }
    }
  }

  .profile-social {
    li {
      padding: 4px 0;

      >i {
        padding-top: 6px;
        color: #070707;
      }

      >a {
        color: #166FF6;
      }
    }

    @media only screen and (max-width: 767px) {
      .profile-user-info .profile-user-details .profile-user-details-label {
        float: none;
        position: relative;
        text-align: left;
      }

      .profile-user-info .profile-user-details .profile-user-details-value {
        margin-left: 0;
      }

      .profile-social {
        margin-top: 20px;
      }
    }

    @media only screen and (max-width: 420px) {
      .profile-header .edit-profile {
        display: block;
        position: relative;
        margin-bottom: 15px;
      }

      .profile-message-btn .btn {
        display: block;
      }
    }
  }
}


.btn {
  border: none;
  padding: 6px 12px;
  border-bottom: 4px solid;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
  outline: none;

  &.default,
  &.wizard-cancel,
  &.wizard-back {
    background-color: #7e8c8d;
    border-color: #626f70;
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #949e9f;
      border-color: #748182;
      color: #fff;
    }

    .caret {
      border-top-color: #FFFFFF;
    }
  }

  &.info {
    background-color: #5daee7;
    border-color: #4c95c9;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #4c95c9;
      border-color: #3f80af;
    }
  }

  &.link {
    border: none;
  }

  &.primary {
    background-color: #3fcfbb;
    border-color: #2fb2a0;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #38c2af;
      border-color: #2aa493;
    }
  }

  &.success {
    background-color: #8dc859;
    border-color: #77ab49;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #77ab49;
    }
  }

  &.danger {
    background-color: #fe635f;
    border-color: #dd504c;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #dd504c;
    }
  }

  &.warning {
    background-color: #f1c40f;
    border-color: #d5ac08;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #e0b50a;
      border-color: #bd9804;
    }
  }
}

.icon-box {
  .btn {
    border: 1px solid #e1e1e1;
    margin-left: 3px;
    margin-right: 0;

    &:hover {
      background-color: #eee;
      color: #2BB6A3;
    }
  }
}

.a {
  color: #2bb6a3;
  outline: none !important;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #2bb6a3;
  }
}


.search-1 {
  width: 350px;
  height: 35px;
  border-radius: 30px;
  border: 1px;
}

.media-container {
  position: relative;
  display: inline-block;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  vertical-align: middle
}

.media-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 180, 180, 0.6);
}

#media-input {
  display: block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  opacity: 0;
  position: relative;
  z-index: 9;
}

.media-icon {
  display: block;
  color: #070606;
  font-size: 2em;
  height: 200px;
  line-height: 200px;
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: center;
  top: 0;
}

// .media-object {}
.img-object {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  border: 1px solid silver;
}

.media-control {
  margin-top: 30px;
}

// .edit-profile {}
// .save-profile {}
/* button */
.bt {
  margin: 10px 3px;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.bt>i {
  color: #555;
  font-size: 12px !important;
  margin-right: 10px;

}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }

  .header_img {
    width: 40px;
    height: 40px
  }

  .header_img img {
    width: 45px
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0
  }

  .show {
    width: calc(var(--nav-width) + 156px)
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px)
  }

  .nav {
    height: 65vh;
  }


}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}


// loading 
.spinner-container {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.spinner {
  display: inline-block;
  top: 0;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #007bff;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


// .admin-phone input {
//   border: 2px solid #445971;
//   border-radius: 5px;
// padding: 10px !important;
//   width: 2rem !important;
//   font-size: 1.3rem !important;

// }


// @media screen and (max-width: 576px){
//      .height-100{
//     margin-right: -30px;
//   }
// }

// .custom-modal {
//   background-color: rgba(255, 255, 255, 0.5); /* Adjust the transparency as needed */
//   backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
//   width:min-content;

// }

// .warn:hover,
// .edit:hover {
//   transform: scale(1.2);
//   margin-right: 10px;
// }