@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 2rem;
  --nav-width: 68px;
  --first-color: #242760;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  --maincolor: #242760;

}

*,
::before,
::after {
  box-sizing: border-box
}


.body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: .5s
}

.Link {
  text-decoration: none
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img {
  width: 40px
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .2s;
  border-radius: 0 15px 15px 0;
  z-index: var(--z-fixed)
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.app-header {
  font-size: 1.4rem;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.app-header:hover {
  color: var(--maincolor)
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
  text-decoration: none;
}

.nav_logo {
  margin-bottom: 2rem
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color)
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s
}

.nav_link:hover {
  color: var(--white-color)
}

.nav_icon {
  font-size: 1.25rem
}

.nav_icon1 {
  font-size: 1rem;
  color: #fff;
  opacity: .6;
}

.show {
  left: 0
}

.body-pd {
  padding-left: calc(var(--nav-width))
}

.active {
  color: var(--white-color)
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color)
}

.height-100 {
  margin-left: -30px;
  

}

/* admin login section */
.container {
  border-radius: 30px;
  width: 300px;
  margin-top: 3rem;
  

}

.admin-login {
  height: 100vh;
  padding: 150px 0px;
  margin-top: 10px;
}

#ootp,
#loginn {

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-login-form h2 {
  color: var(--maincolor);
}

.admin-login-form input {
  border: 2px solid #445971;
}

.admin-login-form .input-group {
  width: 50%;
  margin: auto;
}

.admin-login-form button {
  border-radius: 25px;
  background: #242760;
  color: #fff;
  font-size: 20px;

}

.admin-login-form .btn:hover {
  border-color: #242760;
}

/* admin login section p2 */
.admin-login-form .otp-number .otp {
  width: 50px;
  height: 50px;
  border: #242760 2px solid;
  padding: 5px;
  font-size: 25px;
  border-radius: 10px;
}

/* request section */
.req-item {
  text-align: center;
  border: 2px solid;
  border-radius: 15px;
  border: 1px solid #acaaaa;
}

.request-part .req-ico {
  font-size: 25px;
  padding-left: 15px;
}

.req-item .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
}

.req-item .btn-req2 {
  background-color: #fff;
  color: rgb(205, 11, 11);
  border-color: rgba(66, 88, 112, 0.4);
}

/* reqest description */
.req-describtion {
  width: 473px;
  height: 700px;
  font-size: 20px;
  border-radius: 20px;
}

.req-describtion img {
  width: 80%;
}

.req-describtion .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
}

.req-describtion .btn-req2 {
  background-color: #fff;
  border-color: rgba(66, 88, 112, 0.4);
}

.main-sec .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
  font-size: 20px;
  font-style: italic;
}

.edit {
  width: 45px;
  height: 45px;
  background-color: var(--maincolor);
  text-align: center;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  margin-right: 10px;
}

.warn {
  width: 45px;
  height: 45px;

  text-align: center;
  padding: 15px;
  color: #DD2920;
  border-radius: 10px;
  border: #445971;
  margin-right: 10px;
}

/* add engineer */
.add-engineer {
  width: 550px;
  height: 750px;
  border-radius: 25px;
}

.add-engineer .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
}

.add-engineer .btn-req2 {
  background-color: #fff;
  border-color: rgba(66, 88, 112, 0.4);
}

.add-form input {
  border-radius: 20px;
  border: 2px solid rgba(220, 220, 220, 0.86);
}

/* add store form*/
.add-store {
  width: 550px;
  height: 600px;
  border-radius: 20px;
}

.add-store .btn-req1 {
  background-color: var(--maincolor);
  color: #fff;
}

.add-store .btn-req2 {
  background-color: #fff;
  border-color: rgba(66, 88, 112, 0.4);
}

.add-form input {
  border-radius: 20px;
  border: 2px solid rgba(220, 220, 220, 0.86);
}

/* admin profile */
.admin-profile {
  border-bottom: gray 1px solid;


}

.img1 {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}


.io {
  cursor: pointer;
  padding: .5em;
  color: #242760;
  transition: color .25s ease-out, transform .5s ease-out;
}

.io:hover {
  transform: scale(1.3333);
  transition: transform .5s ease-out;
  color: rgb(22, 22, 215);

}


h2 {
  clear: both;
  font-size: 1.8em;
  margin-bottom: 10px;
  padding: 10px 0 10px 30px;
}

h3>span {
  border-bottom: 2px solid #C2C2C2;
  display: inline-block;
  padding: 0 5px 5px;
}

/* USER PROFILE */
#user-profile {
  h2 {
    padding-right: 15px;
  }

  .edit-profile{
      background-color: #242760;
  }

  .info-btn{
    background-color: #3B6E26;
    color: #fff;
  }

  .profile-status {
    font-size: 0.75em;
    padding-left: 12px;
    margin-top: -10px;
    padding-bottom: 10px;
    color: #8dc859;

    &.offline {
      color: #fe635f;
    }
  }

  .profile-img {
    border: 1px solid #e1e1e1;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
  }

  .profile-label {
    text-align: center;
    padding: 5px 0;

    .label {
      padding: 5px 15px;
      font-size: 1em;
    }
  }

  .profile-stars {
    color: #EC7E19;
    padding: 7px 0;
    text-align: center;

    >i {
      margin-left: -2px;
    }
  }

  .profile-since {
    text-align: center;
    margin-top: -5px;
  }

  .profile-details {
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 15px 0;

    ul {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 40px;

      >li {
        margin: 3px 0;
        line-height: 1.5;

        >i {
          padding-top: 2px;
        }

        >span {
          color: #3B6E26;
          
           
        }
      }
    }
  }

  .profile-header {
    position: relative;

    >h3 {
      margin-top: 10px;
    }

    .edit-profile {
      margin-top: -6px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .profile-tabs {
    margin-top: 30px;
  }

  .profile-user-info {
    padding-bottom: 20px;

    .profile-user-details {
      position: relative;
      padding: 4px 0;

      .profile-user-details-label {

        bottom: 0;
        font-weight: bold;
        margin-left: -4px;
        position: absolute;
        text-align: left;
        top: 0;
        width: 110px;
        padding-top: 4px;
      }

      .profile-user-details-value {
        margin-left: 120px;
      }
    }
  }

  .profile-social {
    li {
      padding: 4px 0;

      >i {
        padding-top: 6px;
      }
    }

    @media only screen and (max-width: 767px) {
      .profile-user-info .profile-user-details .profile-user-details-label {
        float: none;
        position: relative;
        text-align: left;
      }

      .profile-user-info .profile-user-details .profile-user-details-value {
        margin-left: 0;
      }

      .profile-social {
        margin-top: 20px;
      }
    }

    @media only screen and (max-width: 420px) {
      .profile-header .edit-profile {
        display: block;
        position: relative;
        margin-bottom: 15px;
      }

      .profile-message-btn .btn {
        display: block;
      }
    }
  }
}


.btn {
  border: none;
  padding: 6px 12px;
  border-bottom: 4px solid;
  transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
  outline: none;

  &.default,
  &.wizard-cancel,
  &.wizard-back {
    background-color: #7e8c8d;
    border-color: #626f70;
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #949e9f;
      border-color: #748182;
      color: #fff;
    }

    .caret {
      border-top-color: #FFFFFF;
    }
  }

  &.info {
    background-color: #5daee7;
    border-color: #4c95c9;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #4c95c9;
      border-color: #3f80af;
    }
  }

  &.link {
    border: none;
  }

  &.primary {
    background-color: #3fcfbb;
    border-color: #2fb2a0;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #38c2af;
      border-color: #2aa493;
    }
  }

  &.success {
    background-color: #8dc859;
    border-color: #77ab49;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #77ab49;
    }
  }

  &.danger {
    background-color: #fe635f;
    border-color: #dd504c;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #dd504c;
    }
  }

  &.warning {
    background-color: #f1c40f;
    border-color: #d5ac08;

    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle & {
      background-color: #e0b50a;
      border-color: #bd9804;
    }
  }
}

.icon-box {
  .btn {
    border: 1px solid #e1e1e1;
    margin-left: 3px;
    margin-right: 0;

    &:hover {
      background-color: #eee;
      color: #2BB6A3;
    }
  }
}

.a {
  color: #2bb6a3;
  outline: none !important;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #2bb6a3;
  }
}

@media screen and (min-width: 768px) {
  .body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }

  .header_img {
    width: 40px;
    height: 40px
  }

  .header_img img {
    width: 45px
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0
  }

  .show {
    width: calc(var(--nav-width) + 156px)
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px)
  }
}